<h1>Henlo, Alex! You are a stinky birb</h1>

<% if @craigslist.blank? %>
  <p>There are NO SEEDS for you today fatty.  Go eat some broccoli</p>
<% else %>
  <p>You have <%=@craigslist.getSeeds %> seeds today from the Hooman Slave</p>

<% end %>
<%= image_tag(@craigslist.getImage)%>
<%= form_with(url: "/search", method: "get", local: true)  do |form| %>
  <%= label_tag(:searchTerm, "Search for:") %>
  <%= text_field_tag(:searchTerm) %>
  <%= submit_tag("Search") %>
<% end %>
<p><%=@craigslist.getHttpResponse %></p>