<div id="header">
  <h1>Find My Stuff!.com</h1>
</div>

<div id="greeter">
  <h2>Henlo, Hoomans.  What can Alex the Velociraptor help you find today? Follow his instagram @alexyang93</h2>
</div>

<%= form_with(url: "/search", method: "get", local: true)  do |form| %>
  <%= label_tag(:searchTerm, "Search for:") %>
  <%= text_field_tag(:searchTerm) %>
  <%= label_tag(:cities, "Cities to search in, separated by commas") %>
  <%= text_field_tag(:cities) %>
  <%= submit_tag("Search") %>
<% end %>

<%= image_tag(@craigslist.getImage, size:"300")%>
<p id="goodbye">Goodbye Hoomans!  May the odds be ever in your favor</p>
